body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#vencedor {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
#listaVencedores {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
    text-align: left;
}
.vencedor-item {
    font-size: 18px;
    color: #007BFF;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
.vencedor-item:last-child {
    border-bottom: none;
}
